# Dependency directory
node_modules

# Exclude raw video/photos folders

*.mp4
*.mov
*.psd

# JSON data (ignoring files with a specific extension)
# *.json

# old data (ignoring files in a folder)
# data/*.json

# overhead / smarty
vendor/*
templates_c/*
cache/*

# data sources loaded by external script
data/spreadsheet.json
data/slides.json

# ignore utility scripts
*.sh
