// This file adds a separate set of fonts for different languages

/* VOA language CSS */
@import 'translations/translationFonts';
@import 'mixins/mixins';

$font__display:      $font__primary--amharic;
$font__primary:      $font__primary--amharic;
$font__secondary:    $font__secondary--amharic;

@include language(amharic);