/* VOA language CSS */
@import 'translations/translationFonts';
@import 'mixins/mixins';

$font__display:      $font__primary--bengali;
$font__primary:      $font__primary--bengali;
$font__secondary:    $font__secondary--bengali;

@include language(bengali);