/* VOA language CSS */
@import 'translations/translationFonts';
@import 'mixins/mixins';

$font__display:      $font__primary--burmese;
$font__primary:      $font__primary--burmese;
$font__secondary:    $font__secondary--burmese;

@include language(burmese);