/* VOA language CSS */
@import 'translations/translationFonts';
@import 'mixins/mixins';

$font__display:      $font__primary--chinese;
$font__primary:      $font__primary--chinese;
$font__secondary:    $font__secondary--chinese;

@include language(chinese);