/* VOA language CSS */
@import 'translations/translationFonts';
@import 'mixins/mixins';

$font__display:      $font__primary--tigrinya;
$font__primary:      $font__primary--tigrinya;
$font__secondary:    $font__secondary--tigrinya;

@include language(tigrinya);