// Put project-specific CSS here.

.voa__project {
	.voa__country-profile {
		background-color: #FFF;
		border-radius: 3px;
		//box-shadow: 2px 2px 4px rgba(20,20,20,.4);
		padding: 20px 15px 10px 15px;
	}

	.voa__country-profile {
		margin-bottom: 15px;

		.voa__stats {
			padding-left: 0;
			list-style: none;
		}
	}
	.voa__paragraph-label {
		font-weight: bold;
	}

	.voa__headlines {
		a {
			color: #232e63;//#293c98;//#2a68a0;
			text-decoration: none;

			&:hover {
				color: $color__voa-blue;//#337ab7;
				text-decoration: underline;
			}
		}
	}

	.voa__featured-headline {
		@media only screen and (min-width: 640px) {
			font-size: 36px;
		}
		@media only screen and (min-width: $media__large) {
			font-size: 54px;
		}
	}
}