// Put project-specific CSS here.

.voa__project {
	.voa__country-profile {
		background-color: #FFF;
		border-radius: 3px;
		//box-shadow: 2px 2px 4px rgba(20,20,20,.4);
		padding: 20px 15px 10px 15px;
	}

	.voa__country-profile {
		margin-bottom: 15px;

		.voa__stats {
			padding-left: 0;
			list-style: none;
		}
	}
	.voa__paragraph-label {
		font-weight: bold;
	}

	.voa__headlines {
		a {
			color: #232e63;//#293c98;//#2a68a0;
			text-decoration: none;

			&:hover {
				color: $color__voa-blue;//#337ab7;
				text-decoration: underline;
			}
		}
	}

	.voa__featured-headline {
		@media only screen and (min-width: $media__medium-large) {
			font-size: 36px;
		}
		@media only screen and (min-width: $media__large) {
			font-size: 54px;
		}
	}

	.voa__map-key {
		background-color: #FFF;
		border: 1px solid #CCC;
		padding: 10px 15px 0 15px;
		width: 100%;
		z-index: 9999;


		ul {
			padding: 0;

			li {
				list-style: none;

				.voa__map-key__swatch {
					background-color: #F1F1F1;
					border: 1px solid #CCC;
					display: inline-block;
					height: 20px;
					margin-right: 10px;
					width: 20px;

					&.value-1 {
						background-color: #fef0d9;
					}
					&.value-2 {
						background-color: #fdcc8a;
					}
					&.value-3 {
						background-color: #fc8d59;
					}
					&.value-4 {
						background-color: #e34a33;
					}
					&.value-5 {
						background-color: #b30000;
					}
				}
			}
		}
		@media only screen and (max-width: $media__medium) {
			ul{
				li{
					display: inline-block;
					margin-right: 10px;

					width: 47%;
				}
			}
		}

		@media only screen and (min-width: $media__medium-large) {
			border-radius: 4px;
			position: absolute;
				right: 44px;
				bottom: 20px;
			width: auto;
			z-index: 9999;
		}

	}
}